body {
  background: #0D0D0D url(img-noise-200x200.png) 0 0 repeat;
  color: #ddd;
  font-family: Helvetica, Arial, sans-serif;
}
a:focus {
  color: #fff;
}

/* fancy background image */

@media (min-width: 768px) {
  #bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: bottom left, 0 -20px;
    background-repeat: repeat-x, no-repeat;
    background-size: auto auto, 100% auto;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.15;
  }
}
/* / fancy background image */


/* header */

header h1, header p {
  text-align: center;
  text-shadow: #000 0 0 15px;
}
header h1 {
  font-family: 'Faster One', cursive;
  font-size: 2.3em;
}
@media (min-width: 530px) {
  header h1 {
    font-size: 3.8em;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 4.8em;
  }
}
@media (min-width: 992px) {
  header h1 {
    font-size: 5em;
  }
}
header p {
  font-size: 1.3em;
  font-style: italic;
}
@media (min-width: 768px) {
  header p {
    margin-bottom: 2em;
  }
}
header h1 a, header h1 a:hover {
  color: #ddd; text-decoration: none;
}

/* /header */

/* navigation buttons */
.previous, .next {
  height: 60px;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.next {
  text-align: right;
}
.previous a, .next a {
  width: 100%;
  height: 100%;
  color: #ddd;
  text-decoration: none;
  display: block;
}
@media (min-width: 768px) {
  .previous a, .next a, .previous .disabled, .next .disabled {
    height: 700px;
    padding-top: 250px;
  }
}
@media (min-width: 992px) {
  .previous a, .next a {
    height: 900px;
  }
}
@media (min-width: 1200px) {
  .previous a, .next a {
    height: 1100px;
  }
}
.word {
  font-size: 1.3em;
  line-height: 3;
  height: 60px;
  width: 90px;
  display: inline-block;
}
.next .word {
  padding-right: 40px;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZmlsbD0iI2RkZGRkZCIgZD0ibTguMjQyNTksMC4xNDY3N2wtOC4wNDI1OSw4LjAwOTIxbDExLjc4MDI2LDExLjc4MDIzbC0xMS43ODAyNiwxMS43ODAyNmw4LjA0MjU5LDguMDA5MThsMTkuMDg4NiwtMTkuMDU1MjhsMC43MDA4NiwtMC43MzQxNmwtMC4wMzM0MiwtMC4wMzM0MmwwLC0wLjAzMzMybC0xOS43NTYwNCwtMTkuNzIyN2wwLDBsMCwweiIvPgo8L3N2Zz4=
) 100% 50% no-repeat;
}
.previous .word {
  padding-left: 40px;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDE0LjExNiAxOS45MzYyKSIgZmlsbD0iI2RkZGRkZCIgZD0ibTguMjQyNTksMC4xNDY3N2wtOC4wNDI1OSw4LjAwOTIxbDExLjc4MDI2LDExLjc4MDIzbC0xMS43ODAyNiwxMS43ODAyNmw4LjA0MjU5LDguMDA5MThsMTkuMDg4NiwtMTkuMDU1MjhsMC43MDA4NiwtMC43MzQxNmwtMC4wMzM0MiwtMC4wMzM0MmwwLC0wLjAzMzMybC0xOS43NTYwNCwtMTkuNzIyN2wwLDBsMCwweiIvPgo8L3N2Zz4=
) 0% 50% no-repeat;
}
@media (min-width: 768px) and (max-width: 991px) {
  .word span {
    display: none;
  }
  .previous .word::after {content: ".";}
}
.disabled {
  display: block;
  opacity: 0.1;
  width: 100%;
}

@media (max-width: 767px) {
  .page main {
    margin-top: 60px; /* otherwise buttons don't work */
  }
}

/* /navigation buttons */

.screenshot {width: 100%; max-width: 768px;}

@media (width: 768px) {
  .screenshot {height: 627px;} /* avoiding reflow while image is loading on iPad */
}
@media (width: 1024px) {
  .screenshot {height: 822px;} /* avoiding reflow while image is loading on iPad */
}

@media (min-width: 1200px) {
  .screenshot {
    width: 768px;
    position: relative;
    left: 0;
  }

  /* Fix container to allow full-width screenshot to fit */
  .page main {
    padding: 6px;
  }
}
article {
  font-size: 1.3em;
overflow: hidden;
}
article a, article a:hover {
  font-weight: bold;
  color: #ddd;
}

#screenshotContainer {
  position: relative;
}

#screenshotContainer .overlayNotes,
#screenshotContainer .previousOverlay,
#screenshotContainer .nextOverlay {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 10;
}

#screenshotContainer .overlayNotes {
  display: none;
  left: 0;
  width: 100%;
  padding: 55% 10px 0;
  text-align: center;
  background-color: #000;
  opacity: 0.8;
  font-size: 1.5em;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

@media (min-width: 530px) {
  #screenshotContainer .overlayNotes {
    font-size: 1.9em;
  }
}
@media (min-width: 768px) {
  #screenshotContainer .overlayNotes {
    font-size: 1.7em;
  }
}
@media (min-width: 992px) {
  #screenshotContainer .overlayNotes {
    font-size: 2.2em;
  }
}

#screenshotContainer .previousOverlay,
#screenshotContainer .nextOverlay {
  display: block;
  width: 150px;
  opacity: 0.4;
}

@media (min-width: 992px) {
  #screenshotContainer .previousOverlay,
  #screenshotContainer .nextOverlay {
    margin-top:45%;
    height:150px;
  }
}

#screenshotContainer .previousOverlay {
  left: -150px;
  background: #000 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDE0LjExNiAxOS45MzYyKSIgZmlsbD0iI2RkZGRkZCIgZD0ibTguMjQyNTksMC4xNDY3N2wtOC4wNDI1OSw4LjAwOTIxbDExLjc4MDI2LDExLjc4MDIzbC0xMS43ODAyNiwxMS43ODAyNmw4LjA0MjU5LDguMDA5MThsMTkuMDg4NiwtMTkuMDU1MjhsMC43MDA4NiwtMC43MzQxNmwtMC4wMzM0MiwtMC4wMzM0MmwwLC0wLjAzMzMybC0xOS43NTYwNCwtMTkuNzIyN2wwLDBsMCwweiIvPgo8L3N2Zz4=
) 50% 50% no-repeat;
}
#screenshotContainer .nextOverlay {
  right: -150px;
  background: #000 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZmlsbD0iI2RkZGRkZCIgZD0ibTguMjQyNTksMC4xNDY3N2wtOC4wNDI1OSw4LjAwOTIxbDExLjc4MDI2LDExLjc4MDIzbC0xMS43ODAyNiwxMS43ODAyNmw4LjA0MjU5LDguMDA5MThsMTkuMDg4NiwtMTkuMDU1MjhsMC43MDA4NiwtMC43MzQxNmwtMC4wMzM0MiwtMC4wMzM0MmwwLC0wLjAzMzMybC0xOS43NTYwNCwtMTkuNzIyN2wwLDBsMCwweiIvPgo8L3N2Zz4=
) 50% 50% no-repeat;
}

#content {
  padding: 0;
  margin: 1em 0 0 0;
  background-color: hsla(0, 0%, 50%, 0.3);
  border-radius: 4px;
}

#content #site {
  margin: 0 0 1em 0;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  background-color: darkred;
  padding: 10px;
  margin-top: 0px;
}

#content #commentary {
  padding: 0 10px 10px;
}

#content #meta {
  display: block;
  background-color: #000000;
  padding: 10px;
}

@media (min-width: 768px) {
  #content {
    font-size: 0.8em;
    background-color: hsla(0, 0%, 15%, 0.9);
  }
}

@media (min-width: 992px) {
  #content {
    position: absolute;
    font-size: 0.9em;
    bottom:0;
    left: -14px;
    right: -14px;
  }

  #content #commentary {
    padding: 0 36px 10px;
  }
}

@media (min-width: 1200px) {
  #content {
    position: absolute;
    font-size: 1em;
    bottom:0;
    left: -20px;
    right: -20px;
  }
}

@media (min-width: 992px) {
  #content #commentary {
    display: block;
    max-height: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#meta {
  border-top: 1px solid #222;
  margin-top: 0.5em;
  padding-top: 0.5em;
  width: 100%;
}

#permalink {
  font-size: 0.9em;
}
footer {
  margin: 0.5em 0 1em 0;
  text-align: left;
  color: #333;
}
footer a, footer a:hover {
  color: #333;
}