@media (min-width: 768px) {
	.previous .glyphicon, .next .glyphicon {height: 600px; padding-top: 250px;}
	.glyphicon {font-size: 40px;}
}
 * {border: none !important;}
.screenshot {width: 100%; max-width: 768px;}
.disabled {opacity: 0.1;}