---
layout: default
---
<div id="swipePane" class="row">
	<main class="col-sm-8 col-sm-offset-2">
		<article>
			<figure id="screenshotContainer">
				<a href="{{ page.website }}"><img src="{{ site.baseurl }}/postimages/{{ page.image }}" alt="Screenshot of {{ page.name }}" class="screenshot"></a>
			</figure>
			<div id="content">
				<section id="site">Featured site: <a href="{{ page.website }}/">{{ page.name }}</a></section>
				<section id="commentary">
					{{ content }}
				</section>
				<section id="meta">
				<p id="contribute" class="pull-left"><a href="https://github.com/operasoftware/rollercoaster/blob/master/README.md">Submit</a> a site!</p>
				<p id="permalink" class="pull-right"><a href="{{ site.baseurl }}{{ page.url }}" title="permalink" rel="bookmark"># {{ page.date| date: "%Y-%m-%d" }}</a></p>
				</section>
				<div class="clearfix"></div>
			</div>
		</article>
	</main>
</div>
<div class="row">
	<footer class="col-sm-8 col-sm-offset-2">
		Review © 2013 Opera Software ASA. Licensed for use under <a href="http://creativecommons.org/licenses/by/3.0/" rel="license">CC BY 3.0</a>. <br> {% if page.copy %} {{ page.name }} content {{ page.copy }} {% else %} All featured site content is the property of its respective owner.{% endif %}
	</footer>
</div>